*.iml
.gradle
.idea/
build
local.properties

app/build
app/*.apk
app/*.iml
app/release
app/debug.keystore
app/gmsProd/release/

app/src/gmsDev/res/drawable/ic_*
app/src/gmsProd/res/drawable/ic_*
app/src/gmsProd/res/**/*.png
app/src/gmsProd/res/values/keys.xml