<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <application
        android:name=".core.application.EasyDiaryApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
        <activity
            android:name=".ui.features.main.DiaryMainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/SplashScreenTheme" />

        <activity-alias
            android:name=".activities.DiaryMainActivity.EasyDiary"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".ui.features.main.DiaryMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.DiaryMainActivity.Dark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_dark"
            android:roundIcon="@mipmap/ic_launcher_dark_round"
            android:targetActivity=".ui.features.main.DiaryMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.DiaryMainActivity.Green"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_green"
            android:roundIcon="@mipmap/ic_launcher_green_round"
            android:targetActivity=".ui.features.main.DiaryMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.DiaryMainActivity.Debug"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_debug"
            android:roundIcon="@mipmap/ic_launcher_debug_round"
            android:targetActivity=".ui.features.main.DiaryMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.features.diary.DiaryWritingActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SplashScreenTheme"
            />
        <activity
            android:name=".ui.features.diary.DiaryReadingActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SplashScreenTheme"
            />
        <activity
            android:name=".ui.features.settings.SettingsActivity"
            android:label=""
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".ui.features.settings.CustomizationActivity"
            android:label="@string/customize_colors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.features.media.PhotoViewPagerActivity"
            android:hardwareAccelerated="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.features.diary.TimelineActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".ui.features.main.DashboardActivity"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".ui.features.auth.FingerprintLockActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.features.auth.PinLockActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.features.other.MarkDownViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.features.media.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.features.media.GalleryViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.features.media.MediaViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.features.note.SimpleNoteActivity"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".ui.features.task.TodoTaskActivity"
            android:theme="@style/Theme.MaterialComponents" />


        <activity
            android:name=".ui.features.diary.TreeTimelineActivity"
            android:label=""
            android:theme="@style/Theme.MaterialComponents" />
        <!-- End Jetpack Compose Activity -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


    </application>
</manifest>
